*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

 /* .cover{
     width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute; 
    background-color: rgpa(0,0,0,0.5);
 } */

 
/* .............  navbar  ................... */
nav{
    background-color: #474F2F;
    color: #fff;

    /* position: fixed; */
}
.logoo{
    display: flex;
    padding-right: 30px;
    padding-left: 40px;

}

#imgg{
    width: 70px;
    /* color: #fff; */
}
.navbar-brand{
    color: #fff;
    font-weight: bold;
    
}

.d-flex{
    width: 50%;
    color: #fff;
}
#search-word{
    color: #fff;
}


.navbar-brand:hover{
    color: #6b7943;
}
#navbarDropdown{
    /* color: #fff; */
}

.navbar-brand{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 40px;
}
#mybrand{
    font-size: 25px;
    color: white;
}
.nav-icon{
    font-size: 20px;
    margin: auto;
    padding-left: 50px;
   
}

.nav-color{
    font-size: 20px;
    width: 20%;

} 
.word{
    text-decoration: none;
    color: #fff;
}
.nav-it{
    padding-top: 10px;
    display: flex;
    text-decoration: none;
    color: #fff;

    
    /* justify-content: center; */
    
}
.nav-it h6{
     text-decoration: none;
}
.home-color{
    color: white !important;
}

.user-i{
    padding-right: 10px;
    color: #fff;
    
}
.user-ii{
    /* padding-right: 10px; */
    color: #fff;
    
}
/* ................  section 1.......................... */
.container0{
    /* background-color: rgb(245, 177, 176); */
    /* color: #fff; */
    /* width: 100%; */
    padding: 0;
    margin: 0;
    /* width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute; */
    height: 100vh;
    
}
.container1{
    /* background-color: rgb(245, 177, 176); */
    /* background-color: crimson; */
    background-image: url("f5594d8c-fb85-4ad4-a90c-8d9a0ebcd781.jpg");
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #ACB992;
    background-size: cover;
    background-position: center;
    /* opacity: 0.7; */
    
    

    /* background-color: rgb(58, 175, 210);
    color: #fff; */
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
}
.container2{
    background-image: url("pexels-anete-lusina-5721807.jpg");
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #ACB992;
    background-size: cover;
    background-position: center;
    /* background-color: rgb(58, 175, 210); */
    /* color: #fff;  */
    color: #ACB992;
    /* width: 100%;
    /* width: 100%; */
    padding: 0;
    margin: 0;
    height: 100vh;
}
.container3{
    background-image: url("pexels-anete-lusina-grar-5721872.jpg");
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #ACB992;
    background-size: cover;
    background-position: center;
    
    /* background-color: rgb(235, 161, 112); */
    /* color: #fff;  */
    color: #ACB992;
    /* width: 100%;
    /* width: 100%; */
    padding: 0;
    margin: 0;
    height: 100vh;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.col-6{
    /* flex-basis: 50%; 
     min-width: 300px;
     padding: 0;
     margin: 0; */
     /* padding-right: 100px; */
}
.text{
    /* background-color: #6a6b66; */
    height: 50vh;
    width: 100%;
    padding: 30px 0 0 30px;
    /* opacity: 0.2; */
    color: #fff;
    background: rgba(4, 4, 4, 0.7);

    
}
.scriptt{
    /* background: rgba(4, 4, 4, 0.7); */
    /* opacity: 0.2; */
    padding-top: 150px;
    /* margin-top: 90px;
    color: #fff;
    padding-top: 90px; */
    /* top: 90px; */
    /* font-weight: 800; */
      /* font-weight: bolder;
      background-color: #6b7943;
      height: 50vh; */
      
    /* color: #3f4b26; */
}
.col-6 img{
    max-width: 100%;
    /* padding: 50px 0; */
}

.btn1{
    display: inline-block;
    /* background-color: #fe696a;; */
    background-color: #474F2F;
    color: #fff;
    padding: 8px 35px;
    margin: 30px;
    border-radius: 10px;
    transition: background 0.5s;
}
.btn1:hover{
    /* background: #2351; */
}

/* ************ catrgories  ************** */
.categories{
    margin: 60px 0;
    padding: 0;
    color: #474F2F;

}
.categories a{
    /* color: #000; */
    color: #474F2F;

    text-decoration: none;
}
.category-down{
    display: flex;
    margin-bottom: 10px;
}
.col-4{
    flex-basis: 25%;
    min-width: 300px;
    margin-bottom: 30px;
}

.col-4 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;


}


/* ............. producrs......... */

/* .products{
    position: relative;
} */

.col-md-3{
    /* flex-basis: 25%; */
    /* min-width: 300px; */
    margin-bottom: 50px;
    padding: 10px;
    transition: transform 0.5s;
    

}
.col-md-3 img{
    width: 100%;
    padding-bottom: 10px;
}

.col-md-3:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.overlay-iconss{
    /* align-items: flex-start; */
    text-align: right;
    justify-content: right;
    font-size: 15px;
    color: #000;
    padding-left: 140px;

}
.overlay-iconss i{
    /* color: #000; */
    color: #474F2F;

}
.pri-ic{
    display: flex;
    
}
.overlay-icons button{
    width: 35%;
    font-size: 12px;
    height: 7vh;
    background-color: black;
    color: cornsilk;
    margin: 0 10px;
    padding-bottom: 10px;
    border-radius: 10%;
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col6{
        flex-basis: 100%;
    }
}



.products{
    color: #474F2F;
}
/* 
.overlay-icons{
    position: absolute;
    top: 0;
    left: 0;
    height: 12rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */

/* } */
/* .overlay a{
    font-size: 2rem;
    padding: 1.5rem 2rem;
    background: #fff;
    color: #666;
    margin: 1rem;
    transform: translateY(-15rem);
} */
/*  
.overlay a:hover{
    color: var(--blue);
} */




.pagination li a{
    color: #3f4b26;
}
/* ***************footer******** */
.footer{
    background-color: #474F2F;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 20px;
    
}
.footer .row{
    
    
}
.footer h3{
      margin-bottom: 20px;
}


.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3 h3{
    padding-left: 20px;
}
.footer-col-4 ul{
    display: flex;
    /* padding-left: 70px; */
 
}
.footer-col-4 ul li a{
    /* margin: 10px; */
    background-color: #fff;
    padding: 20px;
    border-radius: 60%;
}
.icons{
    padding-top: 10px;
    
}
.footer-col-4 ul li a i{
    color: #474F2F;
    font-size: 40px;
    /* width: 70%;
    height: 70%; */

}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.footer ul{
    list-style-type: none;
}


.icons{
    /* margin: auto; */
    /* padding-right: 50px;
    padding-bottom: 30px; */
}
.circle{
    border-radius: 50%;
    width:50px;
    height: 50px;
    text-align: center;
    /* margin-left: 1%; */
    display: inline-block;
    }
   
    .circle-facebook{
    background-color:white;
    color: #3B5A9A;
    }
    .circle-facebook:hover{
    background-color:#3B5A9A ;
    color: white;
    }
    .circle-tiw{
    background-color:white;
    color: #1aa9e1;
    }
    .circle-tiw:hover{
    background-color: #1aa9e1;
    color: white;
    }
    .circle-you{
    background-color: #c3191e;
    color: white;
    }
    .circle-you:hover{
    background-color: white;
    color: #c3191e;
    }
    .footer-pd{
    padding-top: 20px;
    }
    /* .div-market{
    background-image: url(../images/market.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    } 

    /* .image-circle{
    width:290px;
    border: white 4px dotted;
    } */
    /* .footer-icon-two{
        font-size: 50px;
        padding-top: 9px;
        padding-right: 30px;
        } */
    /* .txt-cor{
    color: white;
    font-family:Great Vibes,cursive;
    font-size: 20px;
    }
    .div-img-cri{
    transform: translate(30%, -10%);
    }
    .div-txt-cri{
    text-align: center;
    }
    .txt-two-cri{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    } */



    